*{
    padding: 0;
    margin: 0;
}

.box1{
    position: absolute;
    height: 95vh;
    width: 95vw;
    left: 2%;
    top: 2%;
}

nav{
    position: absolute;
    height: 20vh;
    width: 95vw;
    left: 29px;
    top: 5%;
    background-color: rgb(112, 153, 115);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover{
    color: orange;
    transition: 0.6s ease;
}

h1{
    color: rgb(25, 41, 29);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 40px;
    color: rgb(65, 155, 122);
}
h3{
    color: rgb(65, 155, 122);
}

.logo{
    position: relative;
    right: 5%;
}

.menu{
    position: relative;
    right: 10%;
}
.contactbox{
    position: relative;
    font-size: 20px;
    border: white solid 2px;
    height: 33%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 6%;
}

main{
    position: absolute;
    height: 68vh;
    width: 95vw;
    top: 30%;
    left: 2%;
    display: flex;
}

.pic1{
    position: relative;
    width: 30vw;
    height: inherit;
    left: 2px;
}
.about{
    position: relative;
    padding: 60px;
    text-align: justify;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    position: absolute;
    width: 95vw;
    height: 95vh;
    top: 102%;
    left: 2%;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
.box2{
    width: 35vw;
    background-color: rgb(112, 153, 115);
}

.whychooseus{
    position: absolute;
    color: white;
    font-size: 41px;
    left: 80px;
    bottom: 140px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.chooseus{
    position: absolute;
    text-align: justify;
    width: 20%;
    left: 80px;
    bottom: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.boxx1{
    position: absolute;
    top: 20%;
    height: 23%;
    width: 25%;
    right: 30%;
    padding: 20px;
}
.boxx2{
    position: absolute;
    top: 60%;
    height: 23%;
    width: 25%;
    right: 30%;
    padding: 20px;
}

.boxx3{
    position: absolute;
    top: 20%;
    height: 23%;
    width: 25%;
    right: 0%;
    padding: 20px;
}
.boxx4{
    position: absolute;
    top: 60%;
    height: 23%;
    width: 25%;
    right: 0%;
    padding: 20px;
}

.boxgreen{
    position: absolute;
    width: 20%;
    height: 10%;
    background-color: rgb(112, 153, 115);
    right: 54%;
}
.bottom{
    position: absolute;
    width: 95vw;
    height: 95vh;
    top: 202%;
    left: 2%;
}
.greenbox{
    position: relative;
    width: 20%;
    height: 10%;
    background-color: rgb(112, 153, 115);
    left: 80%;
}
.boxline1{
    position: relative;
    width: 100%;
    height: 50vh;
}
.page2line1{
    position: relative;
    text-align: center;
    top: 10%;
}
.boxline2{
    position: relative;
    width: 100%;
    height: 75%;
    background-color: rgb(112, 153, 115);
}

.services{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    height: 50%;
    width: 96%;
    top: 235%;
    left: 2%;
}

.servbox1{
    position: relative;
    height: 60%;
    width: 20%;
    top: 20%;
}

.servbox2{
    position: relative;
    height: 60%;
    width: 20%;
    top: 20%;
}

.servbox3{
    position: relative;
    height: 60%;
    width: 20%;
    top: 20%;
}

.servbox4{
    position: relative;
    height: 60%;
    width: 20%;
    top: 20%;
}

.parag{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: 50%;
    width: 96%;
    top: 280%;
    left: 2%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pser1{
    position: relative;
    right: 1%;
}

.pser2{
    position: relative;
    right: 2%;
}

.pser3{
    position: relative;
    right: 3%;
}

.pser4{
    position: relative;
    right: 3%;
}

.page1{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: 50%;
    width: 96%;
    top: 285%;
    left: 2%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.ppage1{
    position: relative;
    right: 1%;
    width: 15%;
    height: 25%;
    text-align: center;
}
.ppage2{
    position: relative;
    right: 2%;
    width: 15%;
    height: 25%;
    text-align: center;
}
.ppage3{
    position: relative;
    right: 3%;
    width: 15%;
    height: 25%;
    text-align: center;
}
.ppage4{
    position: relative;
    right: 3%;
    width: 15%;
    height: 25%;
    text-align: center;
}